html, body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
textarea {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
/* Main layout container */
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#headerAreaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#headerTextInputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.input-group label {
  margin-right: 3px;
}
#textAreasContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
}
/* Left (input) */
#additional-column-inputs {
  display: flex;
  flex-direction: column;
}
#inputArea {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
/* Right (output) */
#outputArea {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
#outputTextArea {
  tab-size: 8; /* standard wide tab */
  -moz-tab-size: 8;
  -o-tab-size: 8;
}
/* Left and Right (input and output) */
#sectionHeaderArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#sectionHeaderArea #sectionHeaderButtons {
  margin-top: auto;
}
#sectionHeaderArea #sectionHeaderButtons button {
  height: fit-content;
  margin-bottom: 10px;
  padding: 5px 10px;
}